<div class="wrapper">
  {{#each model.blocks as |block|}}
      {{component block.componentName 
      model=block
      player=model.player
      blockClick=(action "blockClick" block) 
      itemClick=(action "itemClick" block.item) 
      submitOrder=(action "submitOrder" block.item) 
      playerHasItem=(action "playerHasItem")}}
  {{/each}}
  
  {{component model.player.componentName 
  model=model.player}}
</div>

{{end-game 
gameIsOver=model.gameIsOver 
model=model.gameData}}