html,
body {
    margin: 0;
}

body {
    font-family: Roboto, sans-serif;
    font-size: medium;
    color: #384652;
    background-color: #F2F2F2;
    padding-bottom: 150px;
}

h1 {
    text-align: center;
    margin: 50px auto;
}

.list {
    position:relative;
}

.item-wrapper {
    position: relative;
}

.item {
    width: 500px;
    margin: 15px 0;
    height: 30px;
    position: relative;
    left: 0;
    right: 0;
    border-radius: 15px;
    background-color: #bbb;
}

.item:hover {
    cursor: move;
}

.item-wrapper.hidden {
    visibility: hidden;
    pointer-events: none;
}


.border{
    position: absolute;
    display: initial;
    border: 2px solid #d24726;
}

.item-wrapper.moving {
    user-select: none;
    height: 30px;
}

.item-wrapper.hovered::before,
.item-wrapper.hovered-bellow::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #d24726;
    position: absolute;
}

.item-wrapper.hovered::before {
    top: -7px; 
}

.item-wrapper.hovered-bellow::after {
    bottom: -7px; 
}

.item-wrapper.hovered .item{
    cursor: initial;
}

.border {
    pointer-events: none;
}

.handler {
    pointer-events: all;
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 100;
    /* background-color: pink; */
}

.handler div {
    pointer-events: none;
    cursor: inherit;
    width: 8px;
    height: 8px;
    border: 1px solid #d24726;
    background-color: white;
    position: relative;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.handler-top,
.handler-bottom {
    cursor: n-resize;
}

.handler-left,
.handler-right {
    cursor: e-resize;
}

.handler-top-left,
.handler-bottom-right {
    cursor: nw-resize;
}

.handler-top-right,
.handler-bottom-left {
    cursor: ne-resize;
}

.handler-top {
    left: 50%;
    top: 7px;
    transform: translate(-50%, -100%);
}
.handler-bottom {
    left: 50%;
    bottom: 7px;
    transform: translate(-50%, 100%);
}

.handler-right {
    right: 7px;
    top: 50%;
    transform: translate(100%, -50%);
}
.handler-left {
    left: 7px;
    top: 50%;
    transform: translate(-100%, -50%);
}


.handler-top-right {    
    right: 7px;
    top: 7px;
    transform: translate(100%, -100%);
}

.handler-bottom-right {    
    right: 7px;
    bottom: 7px;
    transform: translate(100%, 100%);
}


.handler-top-left {    
    left: 7px;
    top: 7px;
    transform: translate(-100%, -100%);
}

.handler-bottom-left {    
    left: 7px;
    bottom: 7px;
    transform: translate(-100%, 100%);
}