.playground {
    width: 100%;
    margin: 0;
}

.dot {
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    background-color: #ccc;
    transform: translateZ(0);
    transition: top .4s, left .4s;
}

.dot.active {
    background-color: #aa0000;
} 