<div class="end-game hidden"> 
  <div class="dancing-onion-king"></div>
  <h2>{{model.ordersCompleted}} orders completed</h2>
  <h2>Score: {{model.score}}</h2>
  <h2>Time: {{model.formattedTime}}</h2>
</div>
