html,
body {
    margin: 0;
    width: 100%;
    text-align: center;
}

.matrix {
    position: relative;
    margin-top: 100px;
    display: inline-block;
    vertical-align: top;
    max-width: 45%;
    background-color: #333;
} 

.matrix + .matrix {
    margin-left: 25px;
}

.element,
.placeholder {
    width: 50px;
    height: 50px;
    position: absolute;
    vertical-align: top;
    text-align: left;
    border: 1px solid black;
}


.element {
    background-color: #ccc;
    cursor: pointer;
    user-select: none;
}

.element:hover {
    background-color: #ddd;
}

.placeholder {
    background-color: #aaa;
    box-shadow: inset -2px -2px 5px 1px rgba(0,0,0,0.15);
}

.element span {
    margin: 2px;
    pointer-events: none;
}

.moving {
    position: absolute;
}

.transparent {
    opacity: 0.35;
    cursor: initial;
}
