.wrapper-static {
    display: inline-block;
}

.wrapper-static .matrice {
    border: 2px solid #ccc;
    width: fit-content;

    margin: 20px;
}

.row {
    width: fit-content;
}

.element {
    display: inline-block;
    vertical-align: top;
    background-color: #ccc;
}

.different {
    background-color: orange;
}