.wrapper {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}

.wrapper .matrice {
    border: 2px solid #ccc;
    width: fit-content;

    margin: 20px;
}

.wrapper-absolut .matrice {
    position: relative;
}

.wrapper-absolut .element {
    position: absolute;
}

.row {
    width: fit-content;
}

.element {
    display: inline-block;
    vertical-align: top;
    background-color: #ccc;
}

.different {
    background-color: orange;
}