html,
body {
    margin: 0;
}

.panel {
    width: 300px;
}

label, 
input[type="number"] {
    display: block;
    margin: 5px auto;
}

input[type="button"]{
    width: 125px;
    margin: 5px  12.5px;
    cursor: pointer;
}