.playground {
    width: 350px;
    height: 350px;
    margin: 250px auto 0 auto;
    border: 1px solid #ccc;
}

.dot {
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    background-color: #ccc;
    transform: translateZ(0);
    transition: top .4s, left .4s;
}

.moved {
    background-color: red;
    -webkit-box-shadow: 10px 10px 21px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 21px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 21px -8px rgba(0,0,0,0.75);
}