<div class="tooltip__content" style={{style}}>
    {{#if componentName}}
    {{component componentName options=componentOptions}}
    
    <div class="arrow" style={{arrowStyle}}></div>
    {{/if}}
</div>