<div class="wrapper"  onclick={{action "clickButton"}}>
  {{#each model.blocks as |block|}}
      {{component block.componentName 
      model=block
      player=player
      blockClick=(action "blockClick" block) 
      itemClick=(action "itemClick" block.item) 
      submitOrder=(action "submitOrder" block.item) 
      playerHasItem=(action "playerHasItem")}}
  {{/each}}
  
  {{game-player model=player}}
</div>

{{end-game 
gameIsOver=model.gameIsOver 
model=model.gameData}}