body,
html {
    margin: 0;
    font-family: Verdana, sans-serif;
}

h1 {
    padding-top: 45px;
    text-align: center;
}

.wrapper {
    margin: 20px auto;
    border: 2px solid #ccc;
}

.wrapper button{
    cursor: url('img/pencil.png'), pointer;
}

.wrapper.eraser button {
    cursor: url('img/eraser.png'), pointer;
}

.wrapper button {
    user-select: none;
    outline-style: none;
    display: inline-block;
    padding: 0;
    border: none;
    background-color: white;
}

.wrapper .group__button--active {
    background-color: black;
}

.controls {
    width: 500px;
    margin: 0 auto;
}

.group {
margin: 10px auto;
}

.group .btn {
    margin: 0 10px;
    background-color: #ccc;
    border: none;
    padding: 10px 15px;
    width: 29%;
    cursor: pointer;
}

.group .group__button--disabled {
    background-color: #ccc;
    color: #aaa;
    outline: none;
}

.group--radio .btn {
    width: 45%;
}
.group--radio .group__button--selected {
    background-color: #79cc79;
}